!!! 5
%html
  %body
    %p= "Hi #{@invite_user.name},"
    %p= "#{@invite_user.inviter.full_name} has invitation message for you."
    %p= @invite_user.message
    %p Click the following link to register.
    %p= link_to "Register", register_url(invite_token: @invite_user.token)
